dash==2.6.1
dash-bootstrap-components==1.2.1
dash-bootstrap-templates==1.0.7
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-pivottable==0.0.2
dash-table==5.0.0
dask==2021.10.0
jupyterlab-dash==0.1.0a3
numpy==1.21.4
pandas==1.4.4
pandas-datareader==0.10.0
pip==22.3.1
Pillow==8.4.0
plotly==5.10.0
plotly-express==0.4.1
